{% extends "base.html" %}
{% load static from staticfiles %}

{% block content1header %}   
<h1>
  Data-Browser
  <small>beta</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol>
{% endblock %}

{% block content1 %}
<link rel="stylesheet" href="{% static "cornerstone.css" %}">

<section class="content">
  <div class="row">
    <div class="col-md-8">
      <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">TCGA-LUAD</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>PatientID</th>
                  <th>Studies</th>
                </tr>
              </thead>
              <tbody>
                 <tr>
                  <td>TCGA-001</td>
                  <td>    
                    <div class="box-group" id="accordion_main">
                      <div class="panel box box-danger">
                      
                        <div class="box-header with-border">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion_main" href="#collapseOne">
                              Studies
                            </a>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse">
                          <div class="box-body">
                            <div class="box-group" id="accordion_studies">  
                            
                              <div class="panel box box-danger">
                                <div class="box-header with-border">
                                  <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion_studies" href="#collapseStudy1">
                                      Study1
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseStudy1" class="panel-collapse collapse">
                                  <div class="box-body">

                                  
<table id="Study1" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Tumor Necrotic Region</th>
      <th>Tumor Full</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3D SPGFh3e_+43Rt1-postSDfbwobwerggh</td>
      <td>Not Approved</td>
      <td>Approved</td>
    </tr>
  </tbody>
</table>
<br>
<table id="Study1" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>FLAIR_contour</th>
      <th>Edema_only</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>T2 FLAIR</td>
      <td>Not Approved</td>
      <td>Approved</td>
    </tr>
  </tbody>
</table> 
                                  
                                  
                                  </div>
                                </div>
                              </div>  

                              <div class="panel box box-success">
                                <div class="box-header with-border">
                                  <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion_studies" href="#collapseStudy2">
                                      Study2
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseStudy2" class="panel-collapse collapse">
                                  <div class="box-body">
                                  
<table id="Study2" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Image</th>
      <th>Tumor Necrotic Region</th>
      <th>Tumor Full</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>3D SPGFh3e_+43Rt1-postSDfbwobwerggh</td>
      <td>Approved</td>
      <td>Approved</td>
    </tr>
  </tbody>
</table>
 
                                  </div>
                                </div>    
                              </div>
                                                       
                            </div> 
                          </div> 
                        </div>
                        
                      </div> 
                    </div>
                    
                  </td>
                </tr>
                <tr>
                  <td>TCGA-002</td>
                  <td>None</td>
                </tr>
                <tr>
                  <td>TCGA-003</td>
                  <td>None</td>
                </tr>                
              </tbody>
              <tfoot>
                <tr>
                  <th>PatientID</th>
                </tr>
              </tfoot>
            </table>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
      </div><!-- /.col -->
      
      
      
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Cornerstone</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <button id="x256" class="btn">256x256</button>
            <button id="x512" class="btn">512x512</button>
            <button id="invert" class="btn">Toggle Invert</button>
            <button id="interpolation" class="btn">Toggle Interpolation</button>
            <button id="hflip" class="btn">Horizontal Flip</button>
            <button id="vflip" class="btn">Vertical Flip</button>
            <button id="rotate" class="btn">Rotate 90</button>
            <div id="dicomImageWrapper" style="width:512px;height:512px;position:relative;color: white;"
                 class="cornerstone-enabled-image"
                 oncontextmenu="return false"
                 unselectable='on'
                 onselectstart='return false;'
                 onmousedown='return false;'>
                <div id="dicomImage" oncontextmenu="return false"
                     style="width:512px;height:512px;top:0px;left:0px; position:absolute">
                </div>
                <div id="topleft" style="position: absolute;top:0px; left:0px">
                    Patient Name
                </div>
                <div id="topright" style="position: absolute;top:0px; right:0px">
                    Render Time:
                </div>
                <div id="bottomright" style="position: absolute;bottom:0px; right:0px">
                    Zoom:
                </div>
                <div id="bottomleft" style="position: absolute;bottom:0px; left:0px">
                    WW/WC:
                </div>
                <div><span id="coords"></span></div> 
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->     
      </div><!-- /.col -->
    </div><!-- /.row -->
  </section><!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="{% static "cornerstone.js" %}"></script>
<script src="{% static "exampleImageIdLoader.js" %}"></script> 
<script>
    $(document).ready(function() {

        var imageIds = [
            'example://1',
            'example://2'];
        var currentImageIndex = 0;


        // updates the image display
        function updateTheImage(imageIndex) {
            return cornerstone.loadAndCacheImage(imageIds[imageIndex]).then(function(image) {
                currentImageIndex = imageIndex;
                var viewport = cornerstone.getViewport(element);
                cornerstone.displayImage(element, image, viewport);
            });
        }

        // image enable the element
        var element = $('#dicomImage').get(0);
        cornerstone.enable(element);

        // set event handlers
        function onImageRendered(e, eventData) {
            $('#topright').text("Render Time:" + eventData.renderTimeInMs + " ms");
        }
        $(element).on("CornerstoneImageRendered", onImageRendered);

        // setup handlers before we display the image
        function onImageRendered(e, eventData) {
            // set the canvas context to the image coordinate system
            cornerstone.setToPixelCoordinateSystem(eventData.enabledElement, eventData.canvasContext);

            // NOTE: The coordinate system of the canvas is in image pixel space.  Drawing
            // to location 0,0 will be the top left of the image and rows,columns is the bottom
            // right.
            var context = eventData.canvasContext;
            context.beginPath();
            context.strokeStyle = 'white';
            context.lineWidth = .5;
            context.rect(128, 90, 50, 60);
            context.stroke();
            context.fillStyle = "white";
            context.font = "6px Arial";
            context.fillText("Tumor Here", 128, 85);

            $('#topright').text("Render Time:" + cornerstone.lastRenderTimeInMs + " ms");
            $('#bottomleft').text("WW/WL:" + Math.round(eventData.viewport.voi.windowWidth) + "/" + Math.round(eventData.viewport.voi.windowCenter));
            $('#bottomright').text("Zoom:" + eventData.viewport.scale.toFixed(2));

        }
        $(element).on("CornerstoneImageRendered", onImageRendered);

        // load and display the image
        var imagePromise = updateTheImage(0);

        // add handlers for mouse events once the image is loaded.
        imagePromise.then(function() {
            viewport = cornerstone.getViewport(element);
            $('#bottomright').text("Zoom: " + viewport.scale.toFixed(2) + "x");
            $('#bottomleft').text("WW/WC:" + Math.round(viewport.voi.windowWidth) + "/" + Math.round(viewport.voi.windowCenter));

            // add event handlers to pan image on mouse move
            $('#dicomImage').mousedown(function (e) {
                var lastX = e.pageX;
                var lastY = e.pageY;

                var mouseButton = e.which;

                $(document).mousemove(function (e) {
                    var deltaX = e.pageX - lastX,
                            deltaY = e.pageY - lastY;
                    lastX = e.pageX;
                    lastY = e.pageY;

                    if (mouseButton == 1) {
                        var viewport = cornerstone.getViewport(element);
                        viewport.voi.windowWidth += (deltaX / viewport.scale);
                        viewport.voi.windowCenter += (deltaY / viewport.scale);
                        cornerstone.setViewport(element, viewport);
                        $('#bottomleft').text("WW/WL:" + Math.round(viewport.voi.windowWidth) + "/" + Math.round(viewport.voi.windowCenter));
                    }
                    else if (mouseButton == 2) {
                        var viewport = cornerstone.getViewport(element);
                        viewport.translation.x += (deltaX / viewport.scale);
                        viewport.translation.y += (deltaY / viewport.scale);
                        cornerstone.setViewport(element, viewport);
                    }
                    else if (mouseButton == 3) {
                        var viewport = cornerstone.getViewport(element);
                        viewport.scale += (deltaY / 100);
                        cornerstone.setViewport(element, viewport);
                        $('#bottomright').text("Zoom: " + viewport.scale.toFixed(2) + "x");
                    }
                });

                $(document).mouseup(function (e) {
                    $(document).unbind('mousemove');
                    $(document).unbind('mouseup');
                });
            });

            $('#dicomImage').on('mousewheel DOMMouseScroll', function (e) {
                // Firefox e.originalEvent.detail > 0 scroll back, < 0 scroll forward
                // chrome/safari e.originalEvent.wheelDelta < 0 scroll back, > 0 scroll forward
                if (e.originalEvent.wheelDelta < 0 || e.originalEvent.detail > 0) {
                    if (currentImageIndex == 0) {
                        updateTheImage(1);
                    }
                } else {
                    if (currentImageIndex == 1) {
                        updateTheImage(0);
                    }
                }
                //prevent page fom scrolling
                return false;
            });

            // Add event handler to the ww/wc apply button
            $('#x256').click(function (e) {
                $('#dicomImage').width(256).height(256);
                $('#dicomImageWrapper').width(256).height(256);
                cornerstone.resize(element);
            });

            $('#x512').click(function (e) {
                $('#dicomImage').width(512).height(512);
                $('#dicomImageWrapper').width(512).height(512);
                cornerstone.resize(element);
            });

            $('#invert').click(function (e) {
                var viewport = cornerstone.getViewport(element);
                if (viewport.invert === true) {
                    viewport.invert = false;
                } else {
                    viewport.invert = true;
                }
                cornerstone.setViewport(element, viewport);
            });

            $('#interpolation').click(function (e) {
                var viewport = cornerstone.getViewport(element);
                if (viewport.pixelReplication === true) {
                    viewport.pixelReplication = false;
                } else {
                    viewport.pixelReplication = true;
                }
                cornerstone.setViewport(element, viewport);
            });
            $('#hflip').click(function (e) {
                var viewport = cornerstone.getViewport(element);
                viewport.hflip = !viewport.hflip;
                cornerstone.setViewport(element, viewport);
            });
            $('#vflip').click(function (e) {
                var viewport = cornerstone.getViewport(element);
                viewport.vflip = !viewport.vflip;
                cornerstone.setViewport(element, viewport);
            });
            $('#rotate').click(function (e) {
                var viewport = cornerstone.getViewport(element);
                viewport.rotation+=90;
                cornerstone.setViewport(element, viewport);
            });
            $(element).mousemove(function(event)
            {
                var pixelCoords = cornerstone.pageToPixel(element, event.pageX, event.pageY);
                var x = event.pageX;
                var y = event.pageY;
                $('#coords').text("pageX=" + event.pageX + ", pageY=" + event.pageY + ", pixelX=" + pixelCoords.x + ", pixelY=" + pixelCoords.y);
            });
        });



    });
</script>  
{% endblock %} 