{% extends "base.html" %}
{% load static from staticfiles %}

{% block content1header %}
<link rel="stylesheet" href="{% static "plugins/ionslider/ion.rangeSlider.css" %}">
<link rel="stylesheet" href="{% static "plugins/ionslider/ion.rangeSlider.skinNice.css" %}">

<h1>
  Data-Browser
  <small>beta</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
  <li class="active">Here</li>
</ol>
{% endblock %}

{% block content1 %}
<link rel="stylesheet" href="{% static "cornerstone.css" %}">

<section class="content">
  <div class="row">
    <div class="col-md-7">
{% for datasetid, dataset_dict in datasets.iteritems %}
      <div class="box box-primary collapsed-box box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">{{dataset_dict.dataset.dataset_name}}</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div><!-- /.box-header -->
          <div class="box-body table-responsive no-padding">
            <table id="table_dataset_{{datasetid}}" class="table table-hover">
              <thead>
                <tr>
                  <th>PatientID</th>
                  <th>Studies</th>
                </tr>
              </thead>
              <tbody>
{% for patientid, patient_dict in dataset_dict.patients.iteritems %}
                 <tr>
                  <td>{{patient_dict.patient.patient_dicomid}}</td>
                  <td>    
                    <div class="box-group" id="accordion_main_{{patientid}}">
                      <div class="panel box box-danger">
                      
                        <div class="box-header with-border">
                          <h4 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion_main_{{patientid}}" href="#collapse_main_{{patientid}}">
                              Studies
                            </a>
                          </h4>
                        </div>
                        <div id="collapse_main_{{patientid}}" class="panel-collapse collapse">
                          <div class="box-body">
                            <div class="box-group" id="accordion_studies_{{patientid}}">  
{% for studyid, study_dict in patient_dict.studies.iteritems %}                            
                              <div class="panel box box-danger">
                                <div class="box-header with-border">
                                  <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion_studies_{{patientid}}" href="#collapse_study_{{studyid}}">
                                      {{study_dict.study.study_name}}
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapse_study_{{studyid}}" class="panel-collapse collapse">
                                  <div class="box-body">
                                  
{% for imageid, image_dict in study_dict.images.iteritems %}
<table id="image_table_{{imageid}}" class="table table-bordered table-striped" style="border:1px solid black;">
  <thead>
    <tr>
      <th></th>
{% for segmentation in image_dict.segmentations %}      
      <th>{{segmentation.segmentation_name}}</th>
{% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <form method="POST" id="imagecell_form">
      {% csrf_token %}
      <td id="imagecell_{{imageid}}">{{image_dict.image.image_name}}</td>
{% for segmentation in image_dict.segmentations %} 
      <td>{{segmentation.get_segmentation_validationstatus_display}}</td>
{% endfor %}
      </form>
    </tr>
  </tbody>
</table>
<br>
{% endfor %}
                   
                                  </div>
                                </div>
                              </div>  
{% endfor %}                                                      
                            </div> 
                          </div> 
                        </div>
                        
                      </div> 
                    </div>
                    
                  </td>
                </tr>
{% endfor %}                              
              </tbody>
            </table>
          </div><!-- /.box-body -->
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div><!-- /.box -->
      </div><!-- /.col -->
      
      <div class="col-md-5">
        <div class="box box-primary box-solid">
          <div class="box-header with-border">
            <h3 class="box-title">Cornerstone Viewer</h3>
            <div class="box-tools pull-right">
              <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">
            <div class="row margin" style="text-align:center">
              <div id="dicomImageWrapper" style="margin:auto;width:512px;height:512px;position:relative;color:white;"
                   class="cornerstone-enabled-image"
                   oncontextmenu="return false"
                   unselectable='on'
                   onselectstart='return false;'
                   onmousedown='return false;'>
                  <div id="dicomImage" oncontextmenu="return false"
                       style="width:512px;height:512px;top:0px;left:0px; position:absolute">
                  </div>
                  <div id="topleft" style="position: absolute;top:0px; left:0px">
                      Patient:
                  </div>
                  <div id="topright" style="position: absolute;top:0px; right:0px">
                      Image:
                  </div>
                  <div id="bottomright" style="position: absolute;bottom:0px; right:0px">
                      Zoom:
                  </div>
                  <div id="bottomleft" style="position: absolute;bottom:0px; left:0px">
                      WW/WC:
                  </div>
                  <div><span id="coords"></span></div> 
              </div>
              <div class="col-sm-12">
                <input id="range_5" type="text" name="range_5" value="">
              </div>
            </div>
          </div><!-- /.box-body -->
        </div><!-- /.box -->
{% endfor %}         
      </div><!-- /.col -->
    </div><!-- /.row -->  
  </section><!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="{% static "cornerstone.js" %}"></script>
<script src="{% static "cornerstoneMath.min.js" %}"></script>
<script src="{% static "cornerstoneTools.min.js" %}"></script>
<script src="{% static "cornerstoneWebImageLoader.js" %}"></script>
<script src="{% static "plugins/ionslider/ion.rangeSlider.min.js" %}"></script>


<script>
  $(document).ready(function() {
    $("[id^=imagecell]").on('click',function() {
      var imageid = (this.id).split("_")[1]
      $.ajax({
        url : "{% url 'databrowser:generate_images' %}", // the endpoint
        type : "POST", // http method
        data : { image_id : imageid }, // data sent with the post request
        // handle a successful response
        success: function (jsonresponse) {
          // image disable the element
          var element = $('#dicomImage').get(0);
          cornerstone.disable(element);
          
          var slices = Object.keys(jsonresponse['arrays']).length;
          (function (cs) {
              "use strict";
              
              var slices = Object.keys(jsonresponse['arrays']).length;
              var imageArrayBase64 = new Object();
              for (var i = 0; i < slices; i++) {
                imageArrayBase64[String(i)] = new Object();
                imageArrayBase64[String(i)] = jsonresponse['arrays'][String(i)];
                
                var pixelDataAsString = window.atob(jsonresponse['arrays'][String(i)]['array']);
                var pixelData = str2ab(pixelDataAsString);
                imageArrayBase64[String(i)]['array'] = pixelData;
              };
              
              function str2ab(str) {
                  var buf = new ArrayBuffer(str.length*2); // 2 bytes for each char
                  var bufView = new Uint16Array(buf);
                  var index = 0;
                  for (var i=0, strLen=str.length; i<strLen; i+=2) {
                      var lower = str.charCodeAt(i);
                      var upper = str.charCodeAt(i+1);
                      bufView[index] = lower + (upper <<8);
                      index++;
                  }
                  return bufView;
              };

              function getExampleImage(imageId) {
                  var iid = imageId.split("//")[1];
                  function getPixelData()
                  {
                      iid = imageId.split("//")[1];
                      return imageArrayBase64[iid]['array'];
                     
                  };
                  
                  var image = {
                      imageId: imageId,
                      minPixelValue : imageArrayBase64[iid]['min'],
                      maxPixelValue : imageArrayBase64[iid]['max'],
                      slope: 1.0,
                      intercept: 0,
                      windowCenter : 257,
                      windowWidth : 512,
                      render: cornerstone.renderGrayscaleImage,
                      getPixelData: getPixelData,
                      rows: imageArrayBase64[iid]['height'],
                      columns: imageArrayBase64[iid]['width'],
                      height: imageArrayBase64[iid]['height'],
                      width: imageArrayBase64[iid]['width'],
                      color: false,
                      columnPixelSpacing: imageArrayBase64[iid]['column_spacing'],
                      rowPixelSpacing: imageArrayBase64[iid]['row_spacing'],
                      sizeInBytes: imageArrayBase64[iid]['width'] * imageArrayBase64[iid]['height'] * 2
                  };

                  var deferred = $.Deferred();
                  deferred.resolve(image);
                  return deferred;
              }
              // register our imageLoader plugin with cornerstone
              cs.registerImageLoader(imageid, getExampleImage);

          }(cornerstone));
          
          var imageIds = [];
          for (var i = 0; i < slices; i++) {
            imageIds[i] = imageid.concat('://').concat(String(i))
          };
          
          var currentImageIndex = 0;

          // updates the image display
          function updateTheImage(imageIndex) {
              return cornerstone.loadAndCacheImage(imageIds[imageIndex]).then(function(image) {
                  currentImageIndex = imageIndex;
                  var viewport = cornerstone.getViewport(element);
                  cornerstone.displayImage(element, image, viewport);
              });
          }

          // image enable the element
          var element = $('#dicomImage').get(0);
          cornerstone.enable(element);

          // set event handlers
          function onImageRendered(e, eventData) {
             $('#topright').text("Render Time:" + eventData.renderTimeInMs + " ms");
             $('#bottomleft').text("WW/WL:" + Math.round(eventData.viewport.voi.windowWidth) + "/" + Math.round(eventData.viewport.voi.windowCenter));
             $('#bottomright').text("Zoom:" + eventData.viewport.scale.toFixed(2));

          }
          $(element).on("CornerstoneImageRendered", onImageRendered);

          // load and display the image
          var imagePromise = updateTheImage(0);

          // add handlers for mouse events once the image is loaded.
          imagePromise.then(function() {
              viewport = cornerstone.getViewport(element);
              $('#bottomright').text("Zoom: " + viewport.scale.toFixed(2) + "x");
              $('#bottomleft').text("WW/WC:" + Math.round(viewport.voi.windowWidth) + "/" + Math.round(viewport.voi.windowCenter));

              // add event handlers to pan image on mouse move
              $('#dicomImage').mousedown(function (e) {
                  var lastX = e.pageX;
                  var lastY = e.pageY;

                  var mouseButton = e.which;

                  $(document).mousemove(function (e) {
                      var deltaX = e.pageX - lastX,
                              deltaY = e.pageY - lastY;
                      lastX = e.pageX;
                      lastY = e.pageY;

                      if (mouseButton == 1) {
                          var viewport = cornerstone.getViewport(element);
                          viewport.voi.windowWidth += (deltaX / viewport.scale);
                          viewport.voi.windowCenter += (deltaY / viewport.scale);
                          cornerstone.setViewport(element, viewport);
                          $('#bottomleft').text("WW/WL:" + Math.round(viewport.voi.windowWidth) + "/" + Math.round(viewport.voi.windowCenter));
                      }
                      else if (mouseButton == 2) {
                          var viewport = cornerstone.getViewport(element);
                          viewport.translation.x += (deltaX / viewport.scale);
                          viewport.translation.y += (deltaY / viewport.scale);
                          cornerstone.setViewport(element, viewport);
                      }
                      else if (mouseButton == 3) {
                          var viewport = cornerstone.getViewport(element);
                          viewport.scale += (deltaY / 100);
                          cornerstone.setViewport(element, viewport);
                          $('#bottomright').text("Zoom: " + viewport.scale.toFixed(2) + "x");
                      }
                  });

                  $(document).mouseup(function (e) {
                      $(document).unbind('mousemove');
                      $(document).unbind('mouseup');
                  });
              });

              $('#dicomImage').on('mousewheel DOMMouseScroll', function (e) {
                  // Firefox e.originalEvent.detail > 0 scroll back, < 0 scroll forward
                  // chrome/safari e.originalEvent.wheelDelta < 0 scroll back, > 0 scroll forward
                  if (e.originalEvent.wheelDelta < 0 || e.originalEvent.detail > 0) {
                      if (currentImageIndex > 0) {
                          updateTheImage(currentImageIndex-1);
                      }
                      else {
                          updateTheImage(0);
                      }
                  }
                  else {
                      if (currentImageIndex < slices) {
                          updateTheImage(currentImageIndex+1);
                      }
                      else {
                         updateTheImage(slices) 
                      }
                  }
                  //prevent page fom scrolling
                  return false;
              });

              $(element).mousemove(function(event)
              {
                  var pixelCoords = cornerstone.pageToPixel(element, event.pageX, event.pageY);
                  var x = event.pageX;
                  var y = event.pageY;
                  $('#coords').text("pageX=" + event.pageX + ", pageY=" + event.pageY + ", pixelX=" + pixelCoords.x + ", pixelY=" + pixelCoords.y);
              });
          });          
          
           
        }
      });
    });
  });
</script>

<script type="text/javascript">
  function swapImage(value, slider){
    var d = new Date();
    var sliderTitle = String($("#imageSlider").attr("title")).split("_");
    var model = sliderTitle[0];
    var modlepk = sliderTitle[1];
    if (model=="nrrdimage") {
        var img = "<img id=\"targetimage\" src=\"{{MEDIA_ROOT}}/media/media/tempnrrdimage_"+modelpk+"/temp_" + String(value) + ".png\" data-role=\"fitImage\" data-format=\"square\">";
    } 
    else {
    var img = "<img id=\"targetimage\" src=\"{{MEDIA_ROOT}}/media/media/tempcontour_"+modelpk+"/temp_" + String(value) + ".png\" data-role=\"fitImage\" data-format=\"square\">";
    }
    $("#tileimage").html(img);
    $("#targetimage").load();
    //var img ="{{MEDIA_ROOT}}/media/media/tempnrrdimage/temp_" + String(value) + ".png";
    //$("#imgviewer").attr("src",baseSource);
    //$("#imgviewer").load();
  }
</script>


<script>
  $(function () {
    /* ION SLIDER */
    $("#range_5").ionRangeSlider({
      min: 0,
      max: 10,
      type: 'single',
      step: 0.1,
      postfix: " mm",
      prettify: false,
      hasGrid: true
    });
  });
</script>

 
<script> 
// This function gets cookie with a given name
function getCookie(name) {
  var cookieValue = null;
  if (document.cookie && document.cookie != '') {
    var cookies = document.cookie.split(';');
    for (var i = 0; i < cookies.length; i++) {
      var cookie = jQuery.trim(cookies[i]);
      // Does this cookie string begin with the name we want?
      if (cookie.substring(0, name.length + 1) == (name + '=')) {
        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
        break;
      }
    }
  }
  return cookieValue;
};
var csrftoken = getCookie('csrftoken');

/*
The functions below will create a header with csrftoken
*/

function csrfSafeMethod(method) {
  // these HTTP methods do not require CSRF protection
  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
};

function sameOrigin(url) {
  // test that a given url is a same-origin URL
  // url could be relative or scheme relative or absolute
  var host = document.location.host; // host + port
  var protocol = document.location.protocol;
  var sr_origin = '//' + host;
  var origin = protocol + sr_origin;
  // Allow absolute or scheme relative URLs to same origin
  return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
    (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
    // or any other URL that isn't scheme relative or absolute i.e relative.
    !(/^(\/\/|http:|https:).*/.test(url));
};

$.ajaxSetup({
  beforeSend: function(xhr, settings) {
    if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
      // Send the token to same-origin, relative URLs only.
      // Send the token only if the method warrants CSRF protection
      // Using the CSRFToken value acquired earlier
      xhr.setRequestHeader("X-CSRFToken", csrftoken);
    }
  }
});
</script>  
{% endblock %} 